
 body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    background-color: black;
    text-align: center;
    padding: 7px;
}
i {
 color: white
}



input  {
    width: 10px;
   
}

h3 {
    color: black;
}

.container{
    background: #ccc;
    text-align: right ;
}
.weather{
    font-size: 22px;
    margin: 0;

}

.temp{
    font-size: 60px;
    margin: 0;
   
}