* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    background-color: black;
    text-align: center;
    padding: 7px;
}

i {
    color: white
}

input {
    width: 10px;
}

h3 {
    color: black;
}

.weather {
    font-size: 22px;
    margin: 0;
}

#btnSearch,
.fiveDay {
    background-color: blue;
    color: white;
}

#forecast {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.fiveDay {
    display: inline-block;
    width: 20%;
    margin: 10px;
}

.hide {
    display: none;
}